
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>hello</title>
<link th:href="@{/css/style.css}" rel="stylesheet">
</head>
<body>
	<th:block th:replace="layout11/table::concat">

	</th:block>
	<table>

	</table>

	<form th:action="@{/doLogin}" th:method="post">
		<input type="text" name="userName"> <input type="password"
			name="password"> <input type="submit">
	</form>
	<p th:text="${categoryService.getCateBySlide().size()}"></p>
	<p th:text="${session.username}"></p>

	<th:block th:each="slides : ${slides}">
		<a th:if="${slides[2] == 0 && slides[3] == 1}" th:text="${slides[1]}">

		</a>
	</th:block>

	<th:block th:each="product : ${productService.getProductBySlide(1)}">

		<a th:text="${product[1]}"></a>
	</th:block>
</body>
</html>

